* {
  font-family: "Poppins", serif;
}




/* row align-items-center  d-md-flex */
.container  img{
height: 20%;
}

#logos{
  height: 55px;
  width: 55px;
}

section h3::after{
  content: "";
  border-bottom: 5px solid #0d6efd;
  width: 52px;
  display: block;
  margin: 20px auto;
}

#maps1{

  size: 100px;
}

#kep{
  padding-left: 3px;
  border-radius: 100%;
}

@media (max-width: 420px){
   .guru-box{
    height: 100px;
   }
  
}

/* background foto */
.welcome-box{
  background-image: url(/assets/img/bg2.jpg);
  width: 100%;
  height: 500px;
  border-radius: 25px;
  padding: 100px 25px;
  background-size: cover;
  background-position-y:center;
  background-repeat: no-repeat;
  color: white;
  margin: 20px 0px 20px;
}

.guru-box{
  background-image: url(/assets/img/fotoguru.jpg);
  width: 90%;
  height: 400px;
  border-radius: 25px;
  padding: 100px 25px;
  background-size: cover;
  background-position-y:center;
  background-repeat: no-repeat;
  color: white;
  margin: 20px 0px 20px;
}
/* background foto */

.welcome p{
  max-width: 750px;
}

.footer{
min-height: 60vh;
background-color: #15181f;
margin-top: 150px;
}S

 #hver a:hover{
background-color: rgb(58, 45, 238);
width: fit-content;
}

#hvor a:hover{
  background-color: rgb(58, 45, 238);
  width: fit-content;
  }


.footer .copyright{
 padding-top: 100px;
}

/* program */
.program-box .accordion-button::after {

 border-radius: 100%;
 background-color: white
}
/* program */

/* scr0ll up */

.scroll-up{
  width: 50px;
  height: 50px;
  background-color:  rgb(58, 45, 238);
  color: white;
  border-radius: 100%;
  display: grid;
  place-items: center;
  position: fixed;
  bottom: 40px;
  right: 40px;
  opacity: 0;
  transition: all .5 ease;
}

.scroll-up.scroll-active{
  opacity: 1;
}

/* scr0ll up */

#berita img{
  height: 210px;
}

@media (max-width: 770px){
  #berita img{
    height: 350px;
  }
}


@media (min-width: 770px){
  #berita img{
    height: 180px;
  }
}

@media (min-width: 1200px){
  #berita img{
    height: 300px;
  }
}

.tim h5{
  margin: 0;
  margin-top: 20px;
  padding: 0px;
  font-size: 18px;
  font-weight:bold;
}


.tim{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tim img{
  width: 100%;
  box-shadow: 0px 10px 30px #ccc;
  border-radius: 5px;
}

.tim div{
  text-align: center;
  width: 26%;
}

#r{
  border: 0px solid;
  border-radius: 50px;
}